@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    --height: 60px;
    --disabled: #c7c7c7;
    --hover: #A0A0A0;
    --current-day: #ACACAC;
    font-size: 16px;
}
@media (max-width: 900px){
    html {
        font-size: 8px;
        --height: 30px;
    }
}
@media (min-width: 901px) and (max-width: 1366px){
    html {
        font-size: 12px;
        --height: 45px;
    }
}

body {
    height: 75%;
    margin: 5%  10% 0% 10%;
    background-color: whitesmoke;
}

span {
    height: var(--height);
}

h1 {
    display: flex;
    font-size: 2.5rem;
    height: 9%;
    margin: auto;
    margin-bottom: 1%;
}

main {
    height: 100%;
    width: 100%;
    
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header { 
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;

    & h1 {
        margin: 0;
        margin-right: 1%;
        display: flex;
        align-items: center;
        width: 85%;

        & i {
            margin-right: 1%;
        }
    }

    & button {
        border: none;
        background-color: whitesmoke;
        font-size: 2.5rem;
        font-weight: 700;
    }

    & button:hover:enabled {
        color: darkgrey;
    }
}

#calendar {
    display: grid;
    grid-template-columns: 9% repeat(7, 13%);
    grid-template-rows: 5;
    height: 90%;
    width: 100%;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 0;
}

#first-col-spacer {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
} 


.colHeader{
    background-color: lightgray !important;
    display: block;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 4px;

    & p {
        margin: 0;
        width: 100%;
        font-size: 1rem;
    }
    & h6 {
        margin: 0;
        font-size: 1.75rem;
    }
}

.rowHeader {
    background-color: lightgray !important;
    text-align: end;
    padding-right: 2%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    & p {
        font-size: 0.75rem;
        margin: 0;
        width: 100%;
    }
}

.rowHeader:nth-of-type(odd){
    border-bottom: 1px dotted black;
}
.rowHeader:nth-of-type(even){
    border-bottom: 1px solid black;
}
.rowHeader:nth-last-of-type(-n + 1){
    border-bottom: 2px solid black;
}

.timeslot{
    border: none;
    border-right: 2px solid black;
}

.timeslot:nth-last-of-type(-n + 7){
    border-bottom: 2px solid black;
}

.activity {
    height: 100%;
    width: 92%;
    margin: 0px 1px 1px 1px;
    border-radius: 5%;
    cursor: pointer;
    z-index: 1;
    /* CSS to wrap text for overflow */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow-y: hidden;

    & h4 {
        margin: 0px 2px;
        font-size: 0.85rem;
        text-transform: uppercase;
    }

    & p {
        font-size: 0.65rem;
        text-transform: capitalize;
        margin: 0px 2px;
    }
}

.hour-long.activity {
    height: 200% !important;
    overflow: hidden;
}

.click {
    /* height: 100%; */
    /* width: 100%; */
    z-index: 2;
    overflow: hidden;
}


.hover:hover {
    background-color: var(--hover) !important;
}

.half-hour-mark {
    border-bottom:1px dotted black ;
}

.hour-mark {
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
}

.hidden {
    display: none !important;
}

.stop-scrolling {
    overflow: hidden !important;
}

.current-day,
.current-time {
    background-color: var(--disabled);
}

.current-day.current-time {
    background-color: var(--current-day);
}

.italic {
    font-size: 0.6rem !important;
    font-style: italic;
}

.disabled {
    background-color: var(--disabled) !important;
}