@media (max-width: 1366px){
    #activity-form-container {
        top: 10%;
        width: 40%;
        height: 50%;
        right: 25%;
    }
}

#activity-form-container {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 25%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: auto;
    border: 2px black solid;
    box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.12);
    padding: 8px;

    & button, 
    input, 
    select,
    textarea,
    img {
        font-size: 1.5rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
        padding: 6px;
    }

    & button{
        display: flex;
        align-items: center;
        font-weight: 500;

        & i {
            margin-right: 4px;
        }        
    }

    & textarea {
        resize: none;
    }

    & label{
        text-align: center;
    }

    & #btn-group-div {
        margin-top: 2%;
    }    

    & .row {
        display: flex;
        margin-top: 2%;
        align-items: center;
        margin-left: 8px;
        margin-right: 8px;
    }

    & .row:nth-last-child(2){
        align-items: start;
    }

    & i {
        width: 32px;
        font-size: 2rem;
        margin-right: 16px;
    }
}

.save-close-buttons {
    display: flex;
    justify-content: end;

    & button,
    input {
        margin-bottom: 1%;
        margin-left: 4px;
        width: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
}

#text-area-icon{
    margin-top: 4px;
}

#activity-description {
    height: 250px;
    text-align: start;
}

#btn-group-div {
    display: flex;
}

::placeholder {
    color: #898989;
  }