@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html, body {
    height: 100%;
}
body {
    /* height: 100%; */
    margin: 5%  10% 0% 10%;
    background-color: whitesmoke;
    overflow-y: hidden;
}

h1 {
    display: flex;
    font-size: 3em;
    height: 9%;
    margin: auto;
    margin-bottom: 1%;
    /* justify-content: ; */
}

main {
    height: 75%;
    width: 100%;
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    /* justify-content: space-between; */
    margin: auto;
    height: auto;
    width: 50%;
    /* background-color: red; */
    border: 2px black solid;
    box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.12);
    padding: 8px;
    position: absolute;
    top: 20%;
    left: 25%;
}

h2 {
    font-size: 2.5rem;
    margin: 0 ;
    margin-bottom: 1%;
}

form input, form select, textarea {
    font-size: 1.5rem;
    margin-top: 2%;
    padding: 6px;
    
}

form #btn-group-div {
    
    margin-top: 2%;
}

form #btn-group-div label {
    text-align: start;
    align-items: center;
}

label {
    width: 10%;
    font-weight: 700;
}

form textarea {
    resize: none;
}

form select {
    /* width: 25%; */
    font-size: 1rem;
}

.save-close-buttons {
    width: 25%;
    /* height: 100; */
}

#activity-description {
    height: 250px;
    text-align: start;
}

#calendar {
    display: grid;
    grid-template-columns: 9% repeat(7, 13%);
    grid-template-rows: 5;
    height: 90%;
    width: 100%;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
    /* position: absolute; */
    z-index: 1;
}

#first-col-spacer {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
} 

.rowHeader, .colHeader {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    padding: 1px;
}

.colHeader{
    /* width: 100%; */
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.sticky {
    position: sticky;
    top: 0;
}

.rowHeader{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.rowHeader:nth-of-type(odd){
    /* border-top: 1px solid black; */
    border-bottom: 1px dotted black;
}
.rowHeader:nth-of-type(even){
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}
.rowHeader:nth-last-of-type(-n + 1){
    border-bottom: 2px solid black;
}

.timeslot{
    border: none;
    border-right: 2px solid black;
    /* width: 100%; */
}

.activity {
    height: 99%;
    width: 90%;
    margin: 1px 1px 1px 1px;
    border-radius: 5%;
    cursor: pointer;
}

.activity h4, p {
    margin: 0px 2px;
    text-transform: uppercase;
}

.activity p {
    font-size: small;
    text-transform: capitalize;
}

.hour-long {
    height: 199%;
}

.timeslot:nth-last-of-type(-n + 7){
    border-bottom: 2px solid black;
}

.hover:hover {
    background-color: darkgray;
}

.half-hour-mark {
    border-bottom:1px dotted black ;
}

.hour-mark {
    border-bottom: 1px solid black;
}

footer {
    width: 100%;
    height: 50px;
    /* display: flex; */
    margin: 2% 0% 0% 0%;
    /* justify-content: space-between; */
}


footer p {
    padding: 2px;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.hidden {
    display: none !important;
}

.stop-scrolling {
    overflow: hidden !important;
}

.red-activity {
    background-color: #ffbfbf;
    border-left: 5px red solid;
}

.orange-activity {
    background-color: #ffd3ac;
    border-left: 5px #ffa500 solid;
}

.yellow-activity {
    background-color: #ffea99;
    border-left: 5px #e0bc00 solid;
}

.green-activity {
    background-color: #ccffcc;
    border-left: 5px green solid;
}

.blue-activity {
    background-color: #b5c7eb;
    border-left: 5px blue solid;
}

.purple-activity {
    background-color: #d3d3ff;
    border-left: 5px #7f00ff solid;
}

.pink-activity {
    background-color: pink;
    border-left: 5px #ff8da1 solid;
}


#btn-group button {
    /* font-weight: 400; */
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    /* border-radius: 20% 20% 0% 0%; */
    border-radius: 10%;
}

#btn-group-div {
    display: flex;
    text-align: center;
    
}


#btn-group button:hover{
    /* background-color: lightgray !important; ; */
    transition: all .5s ease;
    opacity: 100%;
}

#btn-group .selected {
    border-radius: 10%;
}

#btn-group #grey {
    border: 2px solid darkgrey;
}

.selected{
    /* border-left: 5px red solid !important; */
    /* border: 2px solid red; */
}

.deselected {
    opacity: 50%;
}

#btn-group #red {
    background-color: #ffbfbf;
    border: 2px solid red;
}

#btn-group .red:hover {
    background-color: red !important;
}

#btn-group .orange {
    background-color: #ffd3ac;
    border: 2px solid #ffa500;
}

#btn-group .orange:hover {
    background-color: #ffa500;
}

#btn-group #yellow {
    background-color: #ffea99;
    border: 2px solid #e0bc00;
}

#btn-group #yellow:hover {
    background-color: #e0bc00 !important;
}

#btn-group #green {
    background-color: #ccffcc;
    border: 2px solid green;   
}
#btn-group #green:hover {
    background-color: green !important;
}

#btn-group #blue {
    background-color: #b5c7eb;
    border: 2px solid blue;
}

#btn-group #blue:hover {
    background-color: blue !important;
    color: white;
}

#btn-group #purple {
    background-color: #d3d3ff;
    border: 2px solid #7f00ff;
}

#btn-group #purple:hover {
    background-color: #7f00ff !important;
}

#btn-group #pink {
    background-color: pink;
    border: 2px solid #ff8da1;
}

#btn-group #pink:hover {
    background-color: #ff8da1 !important;
}